<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>to do item:</mat-label>
    <input matInput placeholder="Enter your todo content">
  </mat-form-field>
  <section class="m-but">
    <div class="example-button-row">
      <button mat-raise-button>submit</button>
    </div>
  </section>
</form>

<mat-list class="m-list-form">
  <mat-list-item class="m-list">Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
