

<mat-card class="m-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Ex. bot">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>password</mat-label>
      <input matInput type="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>repeat password</mat-label>
      <input matInput type="password">
    </mat-form-field>
  </form>

  <section class="m-but">
    <div class="example-button-row">
      <button mat-button>Register</button>
    </div>
  </section>
</mat-card>



